*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  background-color: $clr-white;
}

a {
  text-decoration: none;
  color: $clr-gray-light;
  font-size: $fs-para;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
