// ---------- colors -------------
// Primary
$clr-primary-orange: hsl(35, 77%, 62%);
$clr-primary-red:  hsl(5, 85%, 63%); 


// Natural 
$clr-white: hsl(36, 100%, 99%);
$clr-gray: hsl(233, 8%, 79%); 
$clr-gray-light: hsl(236, 13%, 42%); 
$clr-blue-dark: hsl(240, 100%, 5%); 

// font size 
$fs-para: 1.5rem; 
$fs-heading: 2.5rem; 

// font weight 
$fw-default: 400; 
$fw-semi-bold: 700; 
$fw-bold: 800; 

// gutters 
$g-200: 0.5rem;
$g-300: 1rem; 
$g-350: 1.5rem; 
$g-400: 2rem; 
$g-700: 4rem; 
